#listInfo {
    -ms-grid-columns: 20fr;
    -ms-grid-columns: 10fr 20fr 15fr;
}
.group-subtitle {
-ms-grid-column: 1;
-ms-grid-row:1;
background-color:
}
.group-image {
    -ms-grid-column: 1;
    -ms-grid-row:1;
background-color:
}
.group-description {
-ms-grid-column: 1;
-ms-grid-row:1;
background-color:
}

.groupdetailpage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.groupdetailpage .itemslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 35px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 128px;
}

.groupdetailpage .itemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

    .groupdetailpage .itemslist .win-groupheader {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto 1fr;
        display: -ms-grid;
        height: 100%;
        margin-left: 0px;
        margin-right: 43px;
        padding: 0;
        width: 480px;
    }

    .groupdetailpage .itemslist.win-rtl .win-groupheader {
        margin-left: 43px;
        margin-right: 0px;
    }

        .groupdetailpage .itemslist .win-groupheader .group-subtitle {
            -ms-grid-row: 1;
            margin-bottom: 14px;
            margin-top: 6px;
            max-height: 48pt;
            overflow: hidden;
        }

        .groupdetailpage .itemslist .win-groupheader .group-image {
            -ms-grid-row: 2;
            background-color: rgba(147, 149, 152, 1);
            height: 238px;
            margin: 0;
            margin-bottom: 20px;
            width: 480px;
        }

        .groupdetailpage .itemslist .win-groupheader .group-description {
            -ms-grid-row: 3;
            margin-bottom: 55px;
            overflow: hidden;
        }

    

    .groupdetailpage .itemslist .win-container {
        margin: 5px;
    }

    .groupdetailpage .itemslist .win-item {
            width: 350px;
            -ms-grid-columns: 1fr;
            -ms-grid-rows: 1fr 60px;
            display: -ms-grid;
            background-color: #ffffff;
        }

        .groupdetailpage .itemslist .text {
            height: 95px;
            padding: 10px 5px;
            box-sizing: border-box;
        }

            .groupdetailpage .itemslist .text[data-domain] {
                padding-left: 50px;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: center;
                background-origin: border-box;
            }

            .groupdetailpage .itemslist .text[data-domain *= 'dribbble.com'] {
                 background-image: url(../../images/domain-bgs/dribbble.png);
                 color: #ffffff;
            }

            .groupdetailpage .itemslist .text[data-domain *= 'github.com'] {
                background-image: url(../../images/domain-bgs/github.png);
            }

            .groupdetailpage .itemslist .text[data-domain *= 'github.io'] {
                background-image: url(../../images/domain-bgs/github.png);
            }

            .groupdetailpage .itemslist .text[data-domain *= 'nytimes.com'] {
                background-image: url(../../images/domain-bgs/nytimes.png);
                color: #ffffff;
            }

            .groupdetailpage .itemslist .text[data-domain *= 'twitter.com'] {
                background-image: url(../../images/domain-bgs/twitter.png);
                color: #ffffff;
            }

            .groupdetailpage .itemslist .text[data-domain *= 'channel9.msdn.com'] {
                background-image: url(../../images/domain-bgs/channel9.png);
                color: #ffffff;
            }

            .groupdetailpage .itemslist .text[data-domain *= 'microsoft.com'] {
                background-image: url(../../images/domain-bgs/microsoft.png);
            }

            .groupdetailpage .itemslist .text .item {
                -ms-grid-columns: 1fr;
                -ms-grid-row: 1;
                -ms-grid-rows: 1fr 50%;
                -ms-grid-columns: 1;
                display: -ms-grid;
                height: 85px;
                overflow: hidden;
            }

               .groupdetailpage .itemslist .text .item .item-title {
                    -ms-grid-row: 1;
                    -ms-grid-row-align: end;
                    font-weight: bold;
                }

                .groupdetailpage .itemslist .text .item .item-subtitle {
                    -ms-grid-row: 2;
                    -ms-grid-row-align: start;
                }

        .groupdetailpage .itemslist .media {
            height: 200px;
            position: relative;
        }

        .groupdetailpage .itemslist .media .item-overlay {
            position: absolute;
            bottom: 0;
            padding: 6px 15px 6px 15px;
            box-sizing: border-box;
            visibility: hidden;
            background-color: #ffffff;
            color: #000000;
            opacity: 0.9;
        }

        .groupdetailpage .itemslist .win-selected .media .item-overlay {
            visibility:visible;
        }

            .groupdetailpage .itemslist .media .item-title {
                overflow: hidden;
                width: 320px;
                font-weight: bold;
            }

            .groupdetailpage .itemslist .media .item-subtitle {
                 width: 320px;
            }

@media screen and (-ms-view-state: snapped) {
    .groupdetailpage section[role=main] {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
    }

    .groupdetailpage .itemslist .win-vertical.win-viewport .win-surface {
        margin-bottom: 30px;
        margin-top: 0;
    }

    .groupdetailpage .itemslist .win-groupheader {
        visibility: hidden;
    }

    .groupdetailpage .itemslist .win-container {
        margin-bottom: 15px;
        margin-left: 13px;
        margin-right: 35px;
    }

    .groupdetailpage .itemslist.win-rtl .win-container {
        margin-bottom: 15px;
        margin-left: 21px;
        margin-right: 26px;
    }

    .groupdetailpage .itemslist .item {
        -ms-grid-columns: 60px 1fr;
        height: 60px;
        width: 272px;
    }

        .groupdetailpage .itemslist .item .item-info .item-title {
            max-height: 30pt;
        }

        .groupdetailpage .itemslist .item .item-info .item-description {
            visibility: hidden;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .groupdetailpage .itemslist .win-horizontal.win-viewport .win-surface {
        margin-left: 100px;
        margin-right: 100px;
    }
}
