.itemdetailpage .content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    display: block;
    /*height: 100%; */
    overflow-x: auto;
    position: relative;
    /*width: 100%; */
    z-index: 0;
    margin-bottom:35px;
    margin-left:120px;
    margin-right:120px;
    margin-top:128px;
}

    .itemdetailpage .content article {
        /* Define a multi-column, horizontally scrolling article by default. */
        

        -ms-grid-columns: 400px 80px 400px 80px 1fr;
        display: -ms-grid;
    }

        .itemdetailpage .content article section {
            column-fill: auto;
            column-gap: 80px;
            column-width: 400px;
            height: 100%;
        }

        .itemdetailpage .content article #info {
            -ms-grid-column: 1;
        }

        .itemdetailpage .content article #notes {
            -ms-grid-column: 3;
        }

       /* .itemdetailpage .content article #comments {
            -ms-grid-column: 5;
        } */


        .itemdetailpage .content article header {
            margin-bottom: 19px;
        }

        .itemdetailpage .content article .item-image {
            height: 200px;
            width: 350px;

        }

        .itemdetailpage .content article .item-content p {
            margin-top: 10px;
            margin-bottom: 20px;
        }

@media screen and (-ms-view-state: snapped) {
    .itemdetailpage .content {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .itemdetailpage .content article {
            /* Define a single column, vertically scrolling article in snapped mode. */
            -ms-grid-columns: 300px 1fr;
            -ms-grid-row: 2;
            -ms-grid-rows: auto 60px;
            display: -ms-grid;
            height: 100%;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 6px;
            width: 280px;
        }

            .itemdetailpage .content article header .item-title {
                margin-bottom: 10px;
            }

            .itemdetailpage .content article .item-image {
                height: 140px;
                width: 280px;
            }

            .itemdetailpage .content article .item-content {
                padding-bottom: 60px;
                width: 280px;
            }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .itemdetailpage .content article {
        margin-left: 100px;
        margin-right: 100px;
    }
}
