<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ea2afdcc-1fc4-45f7-b77f-309485c6ce92" Version="1.0.0.0" Publisher="CN=Chantal" />
  <Properties>
    <DisplayName>Kips</DisplayName>
    <PublisherDisplayName>Chantal</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Kips" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Kips" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\logowide.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#cc3333" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
        <Extension Category="windows.shareTarget" StartPage="pages\contracts\receive\shareTarget.html">
          <ShareTarget>
            <DataFormat>text</DataFormat>
            <DataFormat>uri</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>