@font-face {
    font-family: 'idealist';
    src: url('../assets/idealist_sans-webfont.eot');
    src: url('../assets/idealist_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/idealist_sans-webfont.woff') format('woff'),
         url('../assets/idealist_sans-webfont.ttf') format('truetype'),
         url('../assets/idealist_sans-webfont.svg#idealist_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.titlearea {
    text-transform:lowercase;
    font-family: "idealist";
    color: rgba(204,51,51,255);

}

#topBar {
padding: 20px;
}

.topBarItem {
    display:inline-block;
padding: 10px;
margin: 10px;
}
.capitalize {
text-transform:capitalize;
}

.extendedSplashScreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

.extendedSplashScreen.hidden {
    display: none;
}

#extendedSplashImage {
    position: absolute;
}

#extendedSplashDescription
{
    position: absolute;
    width: 100%;
    top: calc(100% - 140px);
    text-align: center;
}

#extendedSplashText
{
    font-family: 'Segoe UI Semilight';
    font-size: 11pt;
    text-align: center;
    width: 75%;
    color: #ffffff;
}

@font-face {
    font-family: 'IdealistSans';
    src: url('../assets/idealist_sans-webfont.eot');
    src: url('../assets/idealist_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/idealist_sans-webfont.woff') format('woff'),
         url('../assets/idealist_sans-webfont.ttf') format('truetype'),
         url('../assets/idealist_sans-webfont.svg#idealist_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#contenthost {
    height: 100%;
    width: 100%; 
    background-color: whitesmoke;
    /*background: url(../images/kipsbg.svg) no-repeat center center fixed;
        background-size: cover;*/
}
.bg {
       
    }

.fragment {
    /* Define a grid with rows for a banner and a body */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        -ms-grid-columns: 39px 81px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 2;
            margin-top: 59px;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
        width: 100%;
    }

@media screen and (-ms-view-state: snapped) {
    .fragment header[role=banner] {
        -ms-grid-columns: auto 1fr;
        margin-left: 15px;
        margin-right: 15px;
    }

        .fragment header[role=banner] .win-backbutton {
            -ms-grid-column: 1;
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 76px;
        }

            .fragment header[role=banner] .win-backbutton:disabled {
                display: none;
            }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 2;
            margin-bottom: 0;
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 68px;
        }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .fragment header[role=banner] {
        -ms-grid-columns: 29px 71px 1fr;
    }
}
