.ms-flexbox-vertical
{
    display: -ms-flexbox;
    -ms-flex-direction: column;
}
.ms-flexbox-vertical > div
{
    width: 200px;
    height: 200px;
}
.ms-flexone-vertical
{
    background-color: Blue;
}
.ms-flextwo-vertical
{
    background-color: Gray;
}